body {
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    width: 1280px;
    margin: 0 auto;
}

.section {
    padding: 50px;
}

.section_black {
    background-color: #445162;
}

.main-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.section__img {
    width: 40%;
}

.main-article_white {
    color: white;
}

.main-article__title {
    font-size: 60px;
    margin-bottom: 50px;
}

.main-article__list {
    font-size: 20px;
}

.main-article__item {
    margin-bottom: 10px;
}

.main-article__item::before {
    content: url('../assets/check_icon.png');
    margin-right: 10px;
}
